@use 'menu';

$darkblue1: rgba(17, 85, 95, 0.7);
$darkblue2: rgba(17, 85, 95, 1);
$orange: rgb(240, 156, 0);
$orange2: rgba(240, 156, 0, 0.7);

$fonth1: 40px;
$fonth2: 28px;
$fonth3: 22px;
$fontp: 18px;
$fontstyle: "Figtree", sans-serif;

$mediafonth1: 30px;
$mediafonth2: 22px;
$mediafonth3: 18px;
$mediafontp: 12px;


*{
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}


/*---------- Hero -----------*/
@media (min-width: 52em){
    .hero{
        display: flex;
        align-items: flex-end;
        height: 62vh;
        background-image: url(../img/cybersikkerhed-kopi.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        border-radius: 30px;
        margin: 0 50px 0 50px;

        .hero-inner{
            display: flex;
            flex-direction: column;
            background-color: $darkblue1;
            width: 100%;
            padding: 40px 50px 40px 50px;
            border-radius: 30px;

            h1{
                font-size: $fonth1;
                color: white;
                font-weight: 400;
            }

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: white;
                background-color: $orange;
                width: 60%;
                height: 2.5em;
                font-size: $fonth2;
                font-weight: 500;
            }

            a:hover{
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: white;
                background-color: $orange2;
                width: 60%;
                height: 2.5em;
                font-size: $fonth2;
                font-weight: 500;
            }
        }
    }
    .front-p2{
        display: flex;
        flex-direction: column;
    
            h2{
                font-size: $fonth2;
                text-align: center;
            }
    
            p{
                font-size: $fontp;
                margin: 0 200px 0 200px;
            }
    }
    
    
    
    .midt{
        display: flex;
        margin: 0 50px 0 50px;
    
            .article1{
                background-color: $darkblue1;
                font-weight: 400;
                padding: 100px 60px 100px 60px;
                border-radius: 30px;
                color: white;
                margin-right: 20px;
                max-width: 40%;
                    h2{
                        font-size: $fonth2;
                    }
                    p{
                        font-size: $fontp;
                    }
            }
    
            .article2{
    
                background-color: $orange2;
                font-weight: 400;
                padding: 100px 60px 100px 60px;
                border-radius: 30px;
                color: white;
                    h2{
                        font-size: $fonth2;
                    }
                    h3{
                        font-size: $fonth3;
                    }
                    p{
                        font-size: $fontp;
                    }
            }
    }
}
@media (max-width: 52em){
    .hero{
        display: flex;
        align-items: flex-end;
        height: 70vh;
        background-image: url(../img/cybersikkerhed-kopi.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 30px;
        margin: 0 20px 0 20px;

        .hero-inner{
            display: flex;
            flex-direction: column;
            background-color: $darkblue1;
            width: 100%;
            padding: 15px 30px 15px 30px;
            border-radius: 30px;

            h1{
                font-size: 22;
                color: white;
                font-weight: 400;
            }

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: white;
                background-color: $orange;
                height: 2.7em;
                font-size: 25px;
                font-weight: 500;
                padding: 15px;
            }

            a:hover{
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: white;
                background-color: $orange2;
                height: 2.5em;
                font-size: $mediafonth2;
                font-weight: 500;
            }
        }
    }
    .front-p2{
        display: flex;
        flex-direction: column;
        margin: 0 45px 0 45px;
    
            h2{
                font-size: $mediafonth2;
                text-align: center;
            }
    
            p{
                font-size: $mediafontp;
                
            }
    }
    
    
    
    .midt{
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 20px;
    
            .article1{
                background-color: $darkblue1;
                font-weight: 400;
                padding: 30px 15px 30px 15px;
                border-radius: 30px;
                color: white;
                max-width: 100vw;
                    h2{
                        font-size: $mediafonth2;
                    }
                    p{
                        font-size: $mediafontp;
                    }
            }
            
            .article2{
    
                background-color: $orange2;
                font-weight: 400;
                padding: 30px 15px 30px 15px;
                border-radius: 30px;
                color: white;
                    h2{
                        font-size: $mediafonth2;
                    }
                    h3{
                        font-size: $mediafonth3;
                    }
                    p{
                        font-size: $mediafontp;
                    }
            }
    }
}




footer{
    background-color: $darkblue1;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;

        a {
            color: white;
            margin: 0 10px;
            text-decoration: none;
        }

        a:hover {
            color: $orange;
        }
}


@media (max-width: 600px) {
    footer {
      padding: 20px 10px;
    }
}